body{
    display:grid;
    height : 100vh;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-rows:auto 1fr auto auto;
    grid-template-areas:
        "header header header"
        "center center right"
        "left left right"
        "footer footer footer";

    min-height : 100vh;
    

}
header{
    grid-area: header;
}
aside.leftSide{
    grid-area: left;
    width : 75vw;
    height : 100vh;
    background-color : orange;
    
}
.pump{
    width : 75vw;
    height : 100vh;
    border:2px solid black;
}
main{
    grid-area: center;
    background-color: yellow;
    width : 75vw;
    height : 50vh;
}
main>p{
    text-align: center;
}
aside.rightSide{
    grid-area: right;
    width : 25vw;
    height : auto;
    background-color:aqua;
    margin-top: -2.2vh;
}
footer{
    grid-area: footer;
}
