nav {
    display : flex;
    justify-content : space-between;
    background-color : #333;
    
    
}
nav > ul{
    display: flex;
    list-style-type : none;
}
li {
    padding-left :1px;
    margin-right: 50px;
    padding-top : 30px;
}
li > a{
    text-decoration : none;
    color : white;
}
nav > div > img{
    border : 3px solid red;
    border-radius: 60%;
    overflow :hidden;
    margin: 5px;
    scale : (1.0)
    
}
nav>div>img:hover
{
    scale : (1.9);
}
